* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #f6f7f8;
  color: #333;
  line-height: 1.4;
}

.header-bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #cee3f8;
  border-bottom: 1px solid black;
  padding: 0 1rem;
  width: 100%;
}

.site-logo img {
  display: inline-block;
  width: clamp(80px, 7%, 160px);
  height: clamp(80px, 7%, 160px);
}

.logged-in-user {
  position: absolute;
  right: 1rem;
  bottom: -1.5px;
  display: inline-block;
  white-space: nowrap;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0.3rem 0.6rem;
  font-size: 0.78rem;
  color: #333;
  background-color: #f6f7f8;
  margin: 0 2rem;
  border-radius: 3px 3px 0 0;
}

.logged-in-user a {
  color: #336699;
  text-decoration: none;
  margin: 0 0.2rem;
}

.logged-in-user a:hover {
  text-decoration: underline;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background: #f8f9fa;
  border-bottom: 1px solid black;
}

.user-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0.25rem 0rem;
  gap: 0.5rem;
  white-space: nowrap;
  position: relative;
  top: 0.4rem;
}

.user-nav input[type="radio"] {
  display: none;
}

.nav-tab {
  flex: 1;
  text-align: center;
  color: #336699;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  background: #f9f8f8;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-tab:hover {
  text-decoration: underline;
  background: #ddd;
}

.user-nav input[type="radio"]:checked + .nav-tab {
  color: orangered;
  background: #fff;
  border-bottom-color: #fff;
  font-weight: bold;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr 650px;
  min-height: 100vh;
  position: relative;
}

.left-sidebar {
  position: relative;
  z-index: 1;
  margin-top: 0.6rem;
  width: 100%;
  background-color: #e9f1f9;
  border: 1px solid black;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-content {
  padding: 0rem;
}

.left-sidebar ul {
  list-style: none;
  margin: 0;
}

.left-sidebar li {
  position: relative;
}

.left-sidebar input[type="radio"] {
  display: none;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: #336699;
  font-size: 0.9rem;
  background: none;
  border-radius: 2px;
  cursor: pointer;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  object-fit: contain;
  margin-left: 1rem;
}

.sidebar-link:hover {
  background-color: #e6e6e6;
}

.left-sidebar input[type="radio"]:checked + .sidebar-link {
  background-color: #fff;
  color: orangered;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 0.5rem;
}

.left-sidebar input[type="radio"]:checked + .sidebar-link:hover {
  background-color: #fff;
}

.double-chevron {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  color: black;
  font-size: 0.85rem;
  z-index: 1;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
  margin-right: 0.3rem;
  vertical-align: middle;
}

.left-sidebar a {
  display: flex;
  align-items: center;
  padding: 0.3rem 0rem;
  color: #777;
  text-decoration: none;
  font-size: 0.9rem;
  background: none;
  border-radius: 2px;
  position: relative;
}

.left-sidebar a:hover {
  background-color: #daecff;
}

.sidebar-item a {
  padding: 0.5rem 1.5rem;
  color: #336699;
}

.sidebar-action {
  margin-top: 1rem;
  font-size: 0.8rem;
  background-color: #cee3f8;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 1rem;
}

.sidebar-action a {
  color: #336699;
}

.sidebar-action-link {
  font-weight: bold;
  text-decoration: none;
}

.sidebar-action-link:hover {
  text-decoration: underline;
}

.sidebar-action-text {
  margin-top: 0.3rem;
  line-height: 1.2;
}

.sidebar-ad {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: right;
}

.sidebar-ad img {
  display: block;
  max-width: 100%;
}

.sidebar-ad figcaption {
  font-size: 0.8rem;
  color: #777;
  margin-top: 0.3rem;
}

.collapse-toggle {
  position: absolute;
  top: -2px;
  right: -1px;
  z-index: 9999;
  border: 1px solid #ccc;
  cursor: pointer;
}

#sidebar-collapse:checked ~ .content-wrapper {
  grid-template-columns: 20px 1fr 650px;
  max-height: 5%;
}

#sidebar-collapse:checked ~ .content-wrapper .left-sidebar .sidebar-content {
  display: none;
}

.double-chevron {
  transition: transform 0.3s;
}
#sidebar-collapse:checked ~ .content-wrapper .left-sidebar .double-chevron {
  transform: rotate(180deg);
}

.posts-column {
  grid-column: 2;
  background-color: #fff;
  font-size: 0.9rem;
  position: relative;
  max-width: 100%;
}

.post {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.4rem 0rem;
  font-size: 0.9rem;
  background-color: white;
}

.post.post-selected {
  background-color: #f7f0e9;
}

.post:hover:not(.post-selected) {
  background-color: #f6f6f6;
}

.post-rank {
  width: 2rem;
  text-align: right;
  color: #777;
  font-weight: bold;
  font-size: 1rem;
}

.vote-controls {
  position: relative;
  display: inline-block;
}

.vote-controls input[type="radio"] {
  display: none;
}

.vote-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
}

.arrow {
  font-size: 1rem;
  cursor: pointer;
  color: #888;
  display: inline-block;
}

.arrow.toggled {
  display: none;
}

.upvote-btn {
  transform: rotate(270deg) scaleY(2) translateY(-1px);
  transform-origin: center;
}
.downvote-btn {
  transform: rotate(90deg) scaleY(2) translateY(-1px);
  transform-origin: center;
}

.upvote-container .default:hover {
  color: #ff4500;
}
.downvote-container .default:hover {
  color: #4d84ff;
}

.arrow.toggled:hover {
  opacity: 0.8;
}

.vote-controls
  input[id^="upvote-"]:checked
  ~ .vote-stack
  .upvote-container
  .default {
  display: none;
}
.vote-controls
  input[id^="upvote-"]:checked
  ~ .vote-stack
  .upvote-container
  .toggled {
  display: inline-block;
  color: #ff4500;
}

.vote-controls
  input[id^="downvote-"]:checked
  ~ .vote-stack
  .downvote-container
  .default {
  display: none;
}
.vote-controls
  input[id^="downvote-"]:checked
  ~ .vote-stack
  .downvote-container
  .toggled {
  display: inline-block;
  color: #4d84ff;
}

.vote-count {
  position: relative;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 2rem;
  color: transparent;
}

.vote-controls input[id^="novote-"]:checked ~ .vote-stack .vote-count::before {
  content: "232";
  color: #333;
}
.vote-controls input[id^="upvote-"]:checked ~ .vote-stack .vote-count::before {
  content: "233";
  color: #ff4500;
}
.vote-controls
  input[id^="downvote-"]:checked
  ~ .vote-stack
  .vote-count::before {
  content: "231";
  color: #4d84ff;
}

.post-thumbnail {
  width: 50px;
  height: auto;
  object-fit: cover;
  margin-right: 0.5rem;
}

.post-content {
  flex: 1;
  margin-right: 2rem;
}

.post-link {
  color: #336699;
  text-decoration: none;
  margin-right: 0.25rem;
}

.post-link:hover {
  text-decoration: underline;
}

.domain {
  color: #888;
  font-size: 0.85rem;
}

.post-meta {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 0.25rem;
}

.post-meta a {
  color: #336699;
  text-decoration: none;
}

.post-details {
  font-size: 0.8rem;
}

.post-details a {
  margin-right: 0.5rem;
  color: #777;
  text-decoration: none;
}

.post-details a:hover {
  text-decoration: underline;
}

.post-navigation {
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #333;

  background: linear-gradient(#f5f5f5, #ddd);
  border: 1px solid #ccc;
  border-radius: 3px;

  box-shadow: 0 1px #fff inset, 0 1px 2px rgba(0, 0, 0, 0.2);

  text-shadow: 0 1px #fff;
}

.nav-button:hover {
  background: linear-gradient(#e9e9e9, #ccc);
  border-color: #bbb;
  text-decoration: none;
}

.nav-button:active {
  background: linear-gradient(#ccc, #eee);
  box-shadow: 0 1px #ccc inset;
  position: relative;
  top: 1px;
}

.nav-newer:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("src/left.png") no-repeat center;
  margin-right: 4px;
}

.nav-older:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("src/right.png") no-repeat center;
  margin-left: 4px;
}

.right-sidebar {
  grid-column: 3;
  background-color: #fff;
  border-right: 1px solid black;
  font-size: 0.9rem;
  position: relative;
  max-width: 100%;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 6px 18px 6px 4px;
  background-color: #f6f7f8;
  border-bottom: 1px solid black;
}

.search-form {
  flex-grow: 1;
  display: flex;
}

.search-form input[type="search"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  background: url("src/magnify.png") no-repeat right 0.5rem center;
  background-size: 16px 16px;
  padding-right: 2rem;
  width: 100%;
}

.notifications {
  display: flex;
  align-items: center;
  position: relative;
}

.notifications ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0rem 3rem 0rem 1rem;
  margin: 0;
}

.notifications li {
  border: 1px solid black;
  background: #fff;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.notifications a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: #333;
  font-size: 0.75rem;
}

.notifications a:hover {
  text-decoration: underline;
}

.notifications img {
  width: 16px;
  height: 16px;
  display: block;
}

.notifications::before {
  content: "";
  left: 14rem;
  width: 1px;
  height: 32px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.25)
  );
}

.notifications::after {
  content: "";
  position: absolute;
  right: 2rem;
  width: 1px;
  height: 32px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.25)
  );
}

.post-title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #336699;
  padding: 1rem 1rem 0rem 1rem;
}
.domain {
  font-size: 0.85rem;
  color: #888;
  margin-left: 0.3rem;
}

.post-image-link {
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  color: #666;
  padding: 0rem 0rem 0rem 1rem;
}

.bubble-shape {
  width: 100%;

  background: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  position: relative;
}

.bubble-shape::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;

  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ccc;
}

.post-detail-meta {
  font-size: 0.75rem;
  color: #777;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  padding: 0rem 1rem;
}

.four-col-row {
  display: grid;

  grid-template-columns: auto auto auto auto;
  gap: 0.3rem;
  align-items: center;
}

.points-col strong {
  font-size: 1rem;
  font-weight: bold;
}

.votes-col {
  margin-right: 1rem;
}

.up-votes {
  color: #e24a02;
  font-weight: bold;
}
.down-votes {
  color: #4d84ff;
  font-weight: bold;
}

.empty-col {
}

.comments-sort-col {
  text-align: right;
  color: #666;
  font-size: 0.85rem;
}

.sort-sep {
  margin: 0 0.3rem;
}

.formatting-help {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 0.3rem;
}

.formatting-help a {
  font-size: 0.8rem;
  color: #336699;
  text-decoration: none;
  margin-right: 4.7rem;
}
.formatting-help a:hover {
  text-decoration: underline;
}

.comment-input-line {
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0rem 1rem;
}
.comment-input {
  flex: 1;
  padding: 0.3rem;
  font-size: 0.85rem;
  border: 1px solid black;
  border-radius: 3px;
  min-height: 3rem;
}
.comment-save {
  font-size: 0.85rem;
  padding: 0.3rem 0.6rem;
  background: #f6f7f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-self: flex-end;
  cursor: pointer;
}
.comment-save:hover {
  background: #e6e6e6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.comments {
  margin: 0rem 2rem 0.5rem 2rem;
  font-family: sans-serif;
}

.comment-row {
  display: flex;
  align-items: flex-start;
}

.comment-vote-controls {
  display: inline-block;
}

.comment-vote-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.comment-vote-controls input[type="radio"] {
  display: none;
}

.comment-upvote-btn {
  transform: rotate(270deg) scaleY(2) translateY(-3px);
  transform-origin: center;
}
.comment-downvote-btn {
  transform: rotate(90deg) scaleY(2) translateY(3px);
  transform-origin: center;
}

.comment-vote-controls
  input[id^="comment-upvote"]:checked
  ~ .comment-vote-stack
  .comment-upvote-container
  .default {
  display: none;
}
.comment-vote-controls
  input[id^="comment-upvote"]:checked
  ~ .comment-vote-stack
  .comment-upvote-container
  .toggled {
  display: inline-block;
  color: #ff4500;
}

.comment-vote-controls
  input[id^="comment-downvote"]:checked
  ~ .comment-vote-stack
  .comment-downvote-container
  .default {
  display: none;
}
.comment-vote-controls
  input[id^="comment-downvote"]:checked
  ~ .comment-vote-stack
  .comment-downvote-container
  .toggled {
  display: inline-block;
  color: #4d84ff;
}

.comment-upvote-container .default:hover {
  color: #ff4500;
}
.comment-downvote-container .default:hover {
  color: #4d84ff;
}

.comment-body {
  flex: 1;
}

.comment-list {
  border-left: 1px solid black;
}

.comment-meta {
  font-size: 12px;
  color: #666;
}

.comment-author {
  color: #0079d3;
  margin-right: 4px;
  text-decoration: none;
}

.comment-author.op {
  color: rgb(21, 0, 255);
  text-decoration: none;
}

.comment-content {
  font-size: 14px;
  margin-top: 4px;
}

.comment-content ul {
  margin-left: 20px;
}

.comment-actions {
  margin-top: 4px;
  font-size: 12px;
}
.comment-actions a {
  margin-right: 8px;
  color: #888;
  text-decoration: none;
}

.comment-children {
  margin-left: 10px;
  border-left: 1px solid #ccc;
  position: relative;
}

.comment-nested {
  position: relative;
  margin-left: 20px;
  padding-top: 8px;
}

.comment-nested::before {
  content: "";
  position: absolute;
  width: 20px;
  left: -20px;
  top: 16px;
}

@media (max-width: 600px) {
  .right-sidebar {
    grid-column: 1 / -1;
    width: 200vw;
    padding-top: 15px;
  }

  .posts-column {
    grid-column: 1 / -1;
    width: 200vw;
    padding: 10px;
    padding-top: 10px;
    border-top: 2px solid #ccc;
  }

  .left-sidebar {
    margin-top: 0.5rem;
    width: 200vw;
  }

  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }

  .search-form input[type="search"] {
    width: 90%;
  }

  .site-header {
    width: 200vw;
  }

  .notifications {
    bottom: 5px;
    justify-items: center;
  }

  .subreddits-nav {
    padding: 0;
    background-color: #eef3f8;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .right-sidebar {
    grid-column: 1 / -1;
    width: 100vw;
    padding-top: 15px;
  }
  .posts-column {
    grid-column: span 2;
  }

  .search-form {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  .search-form input[type="search"] {
    width: 100%;
  }

  .site-header {
    width: 100vw;
  }

  .notifications {
    bottom: 5px;
    justify-items: center;
  }

  .subreddits-nav {
    padding: 0;
    margin-bottom: 3.5rem;
  }
}
